form{
	text-align: center;
}
h1{
	text-align: center;
	margin-left: 100px;
	margin-bottom: 10px;
}
#ip1{
	margin-left: 10px;
	margin-bottom: 10px;
}
#ip2{
	margin-left: 24px;
	margin-bottom: 10px;
}
#ip3{
	margin-left: 30px;
}