h1{
	color: #ff0000;
	margin-bottom: -20px;
	
}
img{
	width: 40px;
}
#radio1,.radio23{
	margin-top: 40px;

}
#radio1{
	margin-left: 160px;
	margin-bottom: 10px;
}
.radio23{
	margin-left: 10px;
	margin-bottom: 10px;
}
#name1{
	margin-left: 80px;
	margin-bottom: 10px;
}
#name2{
	margin-left: 82px;
	margin-bottom: 10px;
}
.mailadd{
	margin-left: 58px;
	margin-bottom: 10px;
}
#city1{
	margin-left: 124px;
	margin-bottom: 10px;
}
#select1{
	margin-left: 120px;
	margin-bottom: 10px;
}
#zip1{
	margin-left: 130px;
	margin-bottom: 10px;
}
#upload1{
	margin-left: 65px;
	margin-bottom: 10px;
}
#email1{
	margin-left: 108px;
	margin-bottom: 10px;
}
#mobile1{
	margin-left: 111px;
	margin-bottom: 10px;
}
p{
	float: left;
	margin-top: 28px;
}
.language1{
	margin-left: 40px;
}
span{
	float: left;
	margin-top: 40px;
}
textarea{
	margin-left: 12px;
	margin-top: 10px;
}
#sm1{
	margin-left: 161px;
	margin-top: 20px;
}
#rs1{
	margin-left: 10px;
	margin-top: 20px;
}
